@model IEnumerable<WebApplication1.Models.Album>

@{
    ViewData["Title"] = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Albums</h1>

<p>
    <a asp-action="Create">Create New Album</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album_ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album_Stock)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Album_Cover)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Album_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album_ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album_Stock)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Album_Cover)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Album_Type.Album_TypeDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Album_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Album_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Album_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
